<template>

    <div class="text-center">
        <h1 class="display">Connect 4</h1>
        <h2>The Connecties-fourist-Game in the world</h2>
    </div>
    <div class="container-fluid m-3  text-center m-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Fun</h2>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    If this page can entertain you for ${seconds}, I'm sure this game can too. 
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-smile-o fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Organicly Grown</h2>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    Any and all tears created in the creation of this site are 100% orgnaic.
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-leaf fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">COVID-19 Free</h2>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    I mean, am I wrong? No covid on this site. No mask required either. Take a break from the outside.
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-thermometer-full fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Play at your own pace</h2>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    Wait for as little or as long as you like. You could even imagine leaving your opponents on read, not that this game has read receipts anyways.
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h1>Look at our Mascot</h1>

                        </div>
                        <div class="card-text">
                            <img src="../static/duck.jpg" class="img-fluid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</template>