<template>

    <div class="text-center">
        <h1 class="display">Connect 4</h1>
        <h2>The Connecties-fourist-Game in the world</h2>
    </div>
    <div class="container-fluid m-3  text-center m-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Fun</h2>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    If this page can entertain you for ${seconds} seconds, I'm sure this game can too. 
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-smile-o fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Organicly Grown</h2>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    Any and all tears created in the creation of this site are 100% orgnaic.
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-leaf fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Free and Open Source</h2>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                   This is open <a href="https://github.com/clarkbains/connect4">source</a> software. Closed source is only for the faint of heart. Don't be constrained by the products of capitalistic companies, trying to get steal your precious information and sell it. 
                                   Fight the resistance! Join open source. Be Better. 
                                   <div if.bind="!!os">
                                    <br>
                                    <br>
                                    <div if.bind="good">You probably support open source already, so good on you, you ${os} user. <br>(This message only shows on Linux/UNIX based systems)</div>
                                        <div else>${os} is going to steal all your data anyways!1!1! <br>(This message shows on non Linux/UNIX based systems)</div>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-code fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Play at your own pace</h2>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    Wait for as little or as long as you like. You could even imagine leaving your opponents on read and never respond, not that this game has read receipts anyways.
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h1>Look at our Mascot</h1>

                        </div>
                        <p>We call him Carl.</p>
                        <div class="card-text">
                            <img src="../static/duck.jpg" class="img-fluid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</template>