<template>

    <div class="text-center">
        <h1 class="display">Connect 4</h1>
        <h2>The Connecties-fourist-Game in the world</h2>
    </div>
    <div class="container-fluid m-3  text-center m-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h2 class="card-title">Fun</h2>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nobis debitis iusto atque officia, sunt repellendus soluta impedit ea deleniti nemo itaque quod cupiditate voluptate necessitatibus sit sequi aliquid. Tempore?
                                </div>
                                <div class="col-4">
                                    Icon Here
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h2 class="card-title">Organicly Grown</h2>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nobis debitis iusto atque officia, sunt repellendus soluta impedit ea deleniti nemo itaque quod cupiditate voluptate necessitatibus sit sequi aliquid. Tempore?
                                </div>
                                <div class="col-4">
                                    Icon Here
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h2 class="card-title">COVID-19 Free</h2>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nobis debitis iusto atque officia, sunt repellendus soluta impedit ea deleniti nemo itaque quod cupiditate voluptate necessitatibus sit sequi aliquid. Tempore?
                                </div>
                                <div class="col-4">
                                    Icon Here
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h2 class="card-title">Play at your own pace</h2>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nobis debitis iusto atque officia, sunt repellendus soluta impedit ea deleniti nemo itaque quod cupiditate voluptate necessitatibus sit sequi aliquid. Tempore?
                                </div>
                                <div class="col-4">
                                    Icon Here
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

    seconds wasted so far looking at this placeholder: ${seconds}. Sorry!
</template>