<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12" ref="widthDiv">
                <h2 if.bind="spectate">You are spectating a game</h2>
                <div if.bind="!spectate">
                    It is ${myTurn?'':'not '}your turn
                </div>
                <div>
                    You are currently in ${history?"historical":"live"} mode, click <button class="btn btn-link" click.delegate="toggleLive()"> here </button> to change modes.
                    <div if.bind="!!history">
                        <button class="btn btn-link" click.delegate="histMove(-2)" disabled.bind="!history.prev">&lt &lt</button>
                        <button class="btn btn-link" click.delegate="histMove(-1)"  disabled.bind="!history.prev">&lt</button>
                        ${history.current}/${history.total}
                        <button class="btn btn-link" click.delegate="histMove(1)" >&gt</button>
                        <button class="btn btn-link" click.delegate="histMove(2)" >&gt &gt</button>
                    </div>
                </div>
                <div class="row">
                    <canvas id="game" ref="game" class="game"></canvas>
                </div>
                <div if.bind="history">
                    
                </div>
            </div>
            <div class="col-md">

                <div class="card mt-4" if.bind="!spectate">
                    <div class="card-body" >
                        <div class="card-title">
                            <h2>Messaging</h2>
                        </div>
                        <div class="card-body" >
                            <form roll="for" submit.delagate="sendMessage()">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" value.bind="wsMsg" placeholder="Type Your Message Here">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-dark" click.delegate="sendMessage()"><i
                                                    class="fa fa-send"></i></button>
                                        </div>
    
                                    </div>
    
    
                                </div>
                            </form>
   
                        </div>
                        <div class="card-body">
                            <div class="overflow-auto" value.bind="messages">
                                <div repeat.for="m of msgs">
                                    <compose view-model="./partials/msg" view="./partials/msg.html" model.bind="{msg:m,col:colourMap[m.userid]}" />
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="card mt-4" if.bind="players.length > 0 || spectators.length > 0">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Active Users</h2>
                        </div>

                        <div class="card-body" if.bind="players.length >0">
                            <h4>Players</h4>
                            <div class="overflow-auto">
                                <div repeat.for="pl of players">
                                    <compose view-model="./partials/user" view="./partials/user.html" model.bind="{user:pl,col:colourMap[pl.userid]}" />

                                </div>
                            </div>

                        </div>
                        <div class="card-body" if.bind="spectators.length >0">
                            <h4>Spectators</h4>
                            <div class="overflow-auto">
                                <div repeat.for="su of spectators">
                                    <compose view-model="./partials/user" view="./partials/user.html" model.bind="su" />

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>



            <!--Do Not remove. This is used to calculate the size for the canvas to be grown to-->

        </div>

</template>