<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col" if.bind="username">
                <h1>Start a New Game</h1>
                <hr>
                <div class="form">
                    <div class="form-group">
                        <!--this input is still less disabled than my code-->
                        <div class="input-group">
                            <input disabled type="text" class="form-control" placeholder="User to Play against"
                                value.bind="username" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Select privacy level for the game</label>

                        <select class="form-control" value.bind = "selPriv">
                            <option>Private</option>
                            <option>Friends Only</option>
                            <option>Public</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Add a game name</label>
                        <div class="input-group">
                            <input type="text" value.bind="knownMsg"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button click.delegate="createWithUser()" class="btn btn-primary">Send Request</button>
                    </div>


                </div>
            </div>
            <div class="col">
                <h1>Play with someone random</h1>
                <hr>
                <div class="form">
                    <div class="form-group">
                        <label>Select privacy level for the game</label>
                        <select class="form-control" value.bind="randPriv">
                            <option>Private</option>
                            <option>Friends Only</option>
                            <option>Public</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" >
                                <button click.delegate="joinExisting()" class="btn btn-primary">Join ${randPriv} Game With Random User</button>
    
                            </div>
                        </div>
                        <div class="col-xs border-left" if.bind="triedJoining"></div>
                        <div if.bind="triedJoining" class="col">
                            <div class="form-group" >
                                <label>Add A Game Name</label>
                                <div class="input-group">
                                    <input type="text", value.bind="randGameName"/>
        
                                </div>
                            </div>
                            <button click.delegate="createPublic()" class="btn btn-secondary">Create ${randPriv} Game With Random User</button>
    
    
                        </div>
  
                    </div>
                    

                </div>
            </div>
        </div>

    </div>
</template>