<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col" if.bind="username">
                <h1>Start a New Game</h1>
                <hr>
                <div class="form">
                    <div class="form-group">
                        <!--this input is still less disabled than my code-->
                        <div class="input-group">
                            <input disabled type="text" class="form-control" placeholder="User to Play against"
                                value.bind="username" />
                            <div class="input-group-prepend">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Select privacy level for the game</label>

                        <select class="form-control" id="sel1">
                            <option>Private</option>
                            <option>Friends Only</option>
                            <option>Public</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button click.delegate="sampleGame()" class="btn btn-outline-primary">Send Request</button>
                    </div>


                </div>
            </div>
            <div class="col">
                <h1>Play with someone random</h1>
                <hr>
                <div class="form">
                    <div class="form-group">
                        <label>Select privacy level for the game</label>
                        <select class="form-control" value.bind="randPriv">
                            <option>Private</option>
                            <option>Friends Only</option>
                            <option>Public</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button click.delegate="sampleGame()" class="btn btn-outline-secondary">Send Request</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>