.foo {
    color: blue;
}
.main-view {
    top: 60px;
    position: relative;
}
.game {
    margin: 16px;
}
.center {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.wide {
    width: 100%;
}